# Libreta de Viowi Y.
## Introducción:
El semáforo delictivo es un proyecto o metodología estadística creada para conseguir la semaforización de la incidencia delictiva en México. El mismo fue cuidadosamente consebido para implementar varios tipos de análisis y formas de visualizar la información de la estadística criminal.

## La Ciencia del Crimen y sus propuestas:
La Ciencia del Delito es una organización creada con el objetivo de realizar un ejercicio docente en la MCD de la Universidad de Sonora. En el marco del ejercicio se realizarán propuestas y quizás aportes a la forma no solo de visualizar los datos sino a la hora de realizar el análisis de los mismos y lograr una interpretación más precisa de la situación delictiva actual en México.

Propuestas:
1. Valorar el uso de nuevos mapas... etc... desarrollar este tema luego...
Desarrollar esto...
2. Proponer el uso de nuevos KPIs... Cuales??? elaborar esto...
Desarrollar esto...
3. Proponer el uso alternativo de los datos de la CONAPO, además de los datos que de la INEGI que ya usa el Semáforo en su versión actual.
Se identifica como una de las limitaciones del semáforo el hecho de que contempla solo los datos de población censal del año 2020 lo cual pudiera provocar una interpretación menos precisa de la situación delectiva en el país.
Por ejemplo: en el 2020 la población de México era de unos 126 014 024 habitantes y ocurrieron unos 19620 homicidios, para una tasa acumulada del año de 15.6 por cada 100 000 habitantes.

$Tasa = \frac{19 620}{126 014 024} * 100 000 = 15.6$

Todo bien hasta acá, pero luego en los años venideros se vuelven a realizar los cálculos con las mismas cifras de población del 2020.

En el año 2021 ocurrieron 19 197 homicidios. Para una tasa de 15.2.

$Tasa = \frac{19 197}{126 014 024} * 100 000 = 15.2$

En el año 2022 ocurrieron 17 445 homicidios. Para una tasa de 13.8.

$Tasa = \frac{17 445}{126 014 024} * 100 000 = 13.8$

No se entienden dichos cálculos como desasertados, pero quizás utilizando las estimaciones realizadas por la CONAPO, con las cifras de población desde el 1950 hasta 2070, se pueda tener una impresión más precisa de la situación actual de cada delito.

Ahí entonces que una de las propuestas sea quizás ofrecer al usuario la posibilidad de usar estas estimaciones de población, ya que no es posible negar que la pobación mexicana continúa aumentando, al igual que la esperanza de vida.

Manos a la obra...
Accediendo al sitio de la CONAPO disponible en:
https://www.gob.mx/conapo/documentos/bases-de-datos-de-la-conciliacion-demografica-1950-a-2019-y-proyecciones-de-la-poblacion-de-mexico-2020-a-2070?idiom=es

In [25]:
# Preparando las librerías:
#import gdown
import pandas as pd
import os
#import sys
import zipfile as zip
#import geopandas as gpd
import urllib.request as ur
import matplotlib.pyplot as plt
#import mapclassify

#
#from bs4 import BeautifulSoup as bs
#import requests

In [6]:
# Descarga del Archivo...

url_proyecciones = 'https://conapo.segob.gob.mx/work/models/CONAPO/pry23/DB/ConDem50a19_ProyPob20a70.zip'

if os.path.exists('./data'):
  if not os.path.exists('./data/datos_proyecciones.zip'):
    ur.urlretrieve(url_proyecciones, './data/datos_proyecciones.zip')
else:
  os.mkdir('./data')
  ur.urlretrieve(url_proyecciones, './data/datos_proyecciones.zip')

In [23]:
# Descompactando...

with zip.ZipFile('./data/datos_proyecciones.zip', 'r') as file:
  file.extract(member = "ConDem50a19_ProyPob20a70/0_Pob_Inicio_1950_2070.xlsx", path = './data')
  file.extract(member = "ConDem50a19_ProyPob20a70/0_Pob_Mitad_1950_2070.xlsx", path = './data')

In [24]:
# Movemos a la raiz de carpeta Data...

if not os.path.exists('./data/0_Pob_Inicio_1950_2070.xlsx'):
    os.rename('./data/ConDem50a19_ProyPob20a70/0_Pob_Inicio_1950_2070.xlsx', './data/0_Pob_Inicio_1950_2070.xlsx')

In [111]:
# Cargar el Archivo de las Proyecciones en un DataFrame...

df_proyecciones = pd.read_excel("./data/0_Pob_Inicio_1950_2070.xlsx")

In [110]:
# Dos formas de hacerlo...
xls = pd.ExcelFile("./data/0_Pob_Inicio_1950_2070.xlsx")
xls.sheet_names
proyec_pob = xls.parse(0)

In [113]:
proyec_pob.info()
proyec_pob
proyec_pob.index

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744920 entries, 0 to 744919
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   RENGLON    744920 non-null  int64
 1   AÑO        744920 non-null  int64
 2   ENTIDAD    744920 non-null  object
 3   CVE_GEO    744920 non-null  int64
 4   EDAD       744920 non-null  int64
 5   SEXO       744920 non-null  object
 6   POBLACION  744920 non-null  int64
dtypes: int64(5), object(2)
memory usage: 39.8+ MB

RangeIndex(start=0, stop=744920, step=1)

In [109]:
# proyec_pob[["AÑO","CVE_GEO","POBLACION"]].groupby(["AÑO","CVE_GEO"]).sum()
proyec_pob.loc[:]

        RENGLON   AÑO             ENTIDAD  CVE_GEO  EDAD     SEXO  POBLACION
0             1  1950  República Mexicana        0     0  Hombres     577250
1             2  1950  República Mexicana        0     0  Mujeres     564734
2             3  1950  República Mexicana        0     1  Hombres     520692
3             4  1950  República Mexicana        0     1  Mujeres     511958
4             5  1950  República Mexicana        0     2  Hombres     487298
...         ...   ...                 ...      ...   ...      ...        ...
744915   744916  2071           Zacatecas       32   107  Mujeres         44
744916   744917  2071           Zacatecas       32   108  Hombres         75
744917   744918  2071           Zacatecas       32   108  Mujeres         26
744918   744919  2071           Zacatecas       32   109  Hombres         50
744919   744920  2071           Zacatecas       32   109  Mujeres         15

[744920 rows x 7 columns]

In [114]:
# Explorando el archivo...

df_proyecciones.info()
df_proyecciones

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744920 entries, 0 to 744919
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   RENGLON    744920 non-null  int64
 1   AÑO        744920 non-null  int64
 2   ENTIDAD    744920 non-null  object
 3   CVE_GEO    744920 non-null  int64
 4   EDAD       744920 non-null  int64
 5   SEXO       744920 non-null  object
 6   POBLACION  744920 non-null  int64
dtypes: int64(5), object(2)
memory usage: 39.8+ MB

        RENGLON   AÑO             ENTIDAD  CVE_GEO  EDAD     SEXO  POBLACION
0             1  1950  República Mexicana        0     0  Hombres     577250
1             2  1950  República Mexicana        0     0  Mujeres     564734
2             3  1950  República Mexicana        0     1  Hombres     520692
3             4  1950  República Mexicana        0     1  Mujeres     511958
4             5  1950  República Mexicana        0     2  Hombres     487298
...         ...   ...                 ...      ...   ...      ...        ...
744915   744916  2071           Zacatecas       32   107  Mujeres         44
744916   744917  2071           Zacatecas       32   108  Hombres         75
744917   744918  2071           Zacatecas       32   108  Mujeres         26
744918   744919  2071           Zacatecas       32   109  Hombres         50
744919   744920  2071           Zacatecas       32   109  Mujeres         15

[744920 rows x 7 columns]

In [175]:
# Poblaciones por estados... Según el Año requerido...

# Consultar la población de de todos los años desde el 2016 al 2023...
pob_anhos = df_proyecciones.loc[(df_proyecciones["AÑO"] >= 2016) & (df_proyecciones["AÑO"] <= 2023), ["AÑO","CVE_GEO","POBLACION"]].groupby(["AÑO","CVE_GEO"]).sum("POBLACION")
print("Del 2016 al 2023 - Todas las Unidades Federeativas...")
pob_anhos

Del 2016 al 2023 - Todas las Unidades Federeativas...

              POBLACION
AÑO  CVE_GEO
2016 0        122998711
     1          1356195
     2          3445434
     3           738609
     4           920965
...                 ...
2023 28         3669309
     29         1404030
     30         8132954
     31         2436635
     32         1675298

[264 rows x 1 columns]

In [177]:
# Consultar la población de un Año específico...

print("Año 2022")
pob_anhos = df_proyecciones.loc[df_proyecciones["AÑO"] == 2021, ["CVE_GEO","POBLACION"]].groupby("CVE_GEO").sum()
pob_anhos

Año 2022

         POBLACION
CVE_GEO
0        128600339
1          1464103
2          3862934
3           823773
4           940463
5          3213766
6           747002
7          5750331
8          3830490
9          9299892
10         1863847
11         6288553
12         3599281
13         3144514
14         8543114
15        17264854
16         4848419
17         2006524
18         1259051
19         5951753
20         4214312
21         6733923
22         2442205
23         1917708
24         2878556
25         3087791
26         3012502
27         2440323
28         3607817
29         1375250
30         8158878
31         2377446
32         1650964

Se puede ver que la población estimada en el 2022 fue de 128 600 339...

Resultado anteriormente visto:

En el año 2022 ocurrieron 17 445 homicidios. Para una tasa de 13.8.

$Tasa = \frac{17 445}{126 014 024} * 100 000 = 13.8$

Recalculando:

$Tasa = \frac{17 445}{128 600 339} * 100 000 = 13.6$

Según [CONAPO](https://www.inegi.org.mx/contenidos/saladeprensa/aproposito/2023/EAP_DMPO23.pdf) ya en 2023 existen unos 129 000 000 de habitantes en méxico... Y cada vez sería mayor la precisión...

$Tasa = \frac{17 445}{129 000 000} * 100 000 = 13.5$

Sin embargo. Valdrá la pena usar estimaciones???